# Autotools outputs
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/depcomp
/install-sh
/missing
/ltmain.sh
/libtool
/Makefile
/Makefile.in
/.deps/
/.dirstamp
*.o
*.lo
*.la

# Build & dist folders
/build/
/dist/
/tmp/
/*.exe
/*.dll
/*.pdb

# IDE/OS
.DS_Store
Thumbs.db
